.parceria-titulo h1 {
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 1.125;
    padding-left: 80px;
    margin-top: 30px;
}

.parceria-titulo span {
    color: var(--color-bluep);
}

.parceria {
    background-color:  #171818;
    color: #F9FDFF;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 5px;
    margin-bottom: 250px;
    width: 1000px;
}

.parceria-formulario{
    padding: 30px;
}

.form .col-2{
    grid-column: span 2;
    max-width: 910px;
}

.form .col-3{
    grid-column: span 1;
    max-width: 250px;
}

.form .col-4{
    grid-column: span 1;
    max-width: 500px;
    margin-left: -80px;
}

.form .col-5{
    grid-column: span 1;
    max-width: 350px;
}

.form .col-6{
    grid-column: span 1;
    max-width: 100px;
}

.botao1 {
    max-width:350px;
    margin-top: 90px;
    margin-left: 80px;
    padding: 16px 32px;
    background-color: var(--color-bluep);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--color-blueblack);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.botao1:hover {
    background-color: #55b8f1;
}