
.contato {
    display: grid;
    grid-template-columns: 5fr 7fr;
    padding-left: 80px;
    padding-right: 80px;
    margin-bottom: 30px;
}

.contato-dados, 
.contato-formulario {
    padding: 60px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados{
    background-color: #171818;
    color: #F9FDFF;
    border-radius: 5px 0 0 5px;
}

.contato-formulario {
    background-color: rgb(238, 242, 247);
    border-radius: 0 5px 5px 0;
}

.contato-dados h2 {
    margin-bottom: 60px;
}

.contato-endereco {
    margin-bottom: 32px;
    padding-left: 28px;
    background: url("../images/icons-midia/local.svg") no-repeat 0px 2px;
}

.contato-endereco p{
    margin-bottom: 8px;
}

.contato-meios a {
    display: block;
    max-width: max-content;
    margin-bottom: 8px;
    padding-left: 28px;
}

.contato-meios a:hover{
    color: #bfdff0;
}

.contato-meios a:first-child{
    background: url(../images/icons-midia/email.svg)no-repeat 0px 2px;
}

.contato-meios a:nth-child(2) {
    margin-bottom: 32px;
}

.contato-meios a:nth-child(3) {
    background: url(../images/icons-midia/telefone1.svg) no-repeat 0px 2px;
    margin-bottom: 60px;
}

.contato-redes {
    display: flex;
    gap: 32px;
    padding-left: 28px;
}

.contato-titulo h1 {
    margin-bottom: 32px;
    font-size: 54px;
    line-height: 1.125;
    padding-left: 80px;
    margin-top: 30px;
}

.contato-titulo span {
    color: var(--color-bluep);
}

.botao {
    padding: 16px 32px;
    background-color: var(--color-bluep);
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    color: var(--color-blueblack);
    font-size: 18px;
    line-height: 1.33;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.copy {
    max-height: 10px;
}